option_settings:
  aws:elasticbeanstalk:sqsd:
    WorkerQueueURL: https://sqs.us-east-1.amazonaws.com/199603965279/SAMAppQueue
  aws:elasticbeanstalk:application:environment:
    DYNAMODB_TABLE_NAME: '`{ "Fn::ImportValue" : "samapp-dynamodb-table-name" }`'
    WORKER_QUEUE_URL: '`{ "Fn::ImportValue" : "samapp-sqs-queue-url" }`'
    AWS_REGION: us-east-1

#Resources:
#  InstanceRole:
#    Type: AWS::IAM::Role
#    Properties:
#      RoleName: aws-elasticbeanstalk-ec2-role
#      ManagedPolicyArns:
#        - arn:aws:iam::aws:policy/AmazonEC2ContainerRegistryReadOnly
#        - arn:aws:iam::aws:policy/AWSElasticBeanstalkWebTier
#        - arn:aws:iam::aws:policy/AWSElasticBeanstalkMulticontainerDocker
#        - arn:aws:iam::aws:policy/AWSElasticBeanstalkWorkerTier
#        - arn:aws:iam::aws:policy/AmazonDynamoDBFullAccess
