option_settings:
  aws:elasticbeanstalk:sqsd:
    WorkerQueueURL: '`{ "Fn::ImportValue" : "samapp-sqs-queue-url" }`'
  aws:elasticbeanstalk:application:environment:
    DYNAMODB_TABLE_NAME: '`{ "Fn::ImportValue" : "samapp-dynamodb-table-name" }`'
    WORKER_QUEUE_URL: '`{ "Fn::ImportValue" : "samapp-sqs-queue-url" }`'
